# Godot 4+ specific ignores
.godot/
/android/
/.vs/FoxyAdventure/FileContentIndex

.tmp
.github
/.vs/FoxyAdventure/CopilotIndices/17.14.1204.46620/CodeChunks.db
/.vs/FoxyAdventure/CopilotIndices/17.14.1204.46620/CodeChunks.db-shm
/.vs/FoxyAdventure/CopilotIndices/17.14.1204.46620/CodeChunks.db-wal
/.vs/FoxyAdventure/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/.vs/FoxyAdventure/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-shm
/.vs/FoxyAdventure/CopilotIndices/17.14.1204.46620/SemanticSymbols.db-wal
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/FoxyAdventure/CopilotIndices/17.14.1204.46620/SemanticSymbols.db
/.vs/slnx.sqlite
".vs/" 
".vs/" 
